@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", serif;
}


.navbar{
    display: flex;
    justify-content: space-between;
    margin: 30px 100px;
   
   

}
.logo {
    display: flex;
    
}
.logo img{
    margin-right: 10px;
}
.logo .tittle{
    font-size: 1.8rem;
    font-weight: 600;
    margin-top: 10px;
}
.features>ul{
    display: flex;
}
ul li{
    list-style: none;
    margin-left: 30px;
}
ul li a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
}
li .tittle1{
    color: orange;
}
li .tittle2{
    color: rgb(16, 167, 227);

}
li .tittle3{
    color: #05D4DF;
}
li .tittle4{
    color: #5D58EF;
}
.btn{
    height: 40px;
    padding:  8px 30px;
    color: white;
    font-size: 20px;
    border-radius: 5px;
   
    cursor: pointer;
    background-color: orange;
    border: none;
}
.menuicon{
    font-size: 30px;
    display: none;
}
.logo1{
    display: none;

}
hr{
    border: 1px solid orange;
    display: none;
}
.banner{
    margin: 50px 100px;
    display: flex;
    justify-content: space-between;
}
.left{
    margin-top: 80px;
}
.left .tittle{
    font-size: 3rem;
    margin-bottom: 20px;
}
.t1{
    color: orange;
}
.t3{
    color: skyblue;
}
.left p{
    font-size: 1.1rem;
    margin-bottom: 20px;
}
.btn2{
    background: black;
    border-radius: 5px;
    font-size: 16px;
    height: 45px;
    color: white;
    padding: 10px 30px;
    cursor: pointer;
    border: none;
}
.right img{
    
    margin-top: -20px;
}
.main-part{
   
    background-image: url(assets/bg.png);
    background-repeat: no-repeat;
    background-position: cover;
   
}

.Standard h2{
    margin-top: 50px;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 30px;
}
.cards{
    margin: 50px 100px;
    display: flex;
    justify-content: space-between;
    gap:25px
}
.card1{
    text-align: center;
    box-shadow: 2px 2px 4px rgba(163, 155, 162, 0.6);
    padding: 10px;
   background-image: linear-gradient(to bottom,rgba(116, 205, 240,.2),white);
  
}
.card2{
    text-align: center;
    box-shadow: 2px 2px 4px rgba(163, 155, 162, 0.6);
    padding: 10px;
    background-image: linear-gradient(to bottom,rgba(238, 172, 49,.1),white);

}
.card2 .btn1{
    color: #e67809;
}
.card2 .tittle{
    font-size: 1.8rem;
    margin-bottom: 20px;
}
.card2 p{
    font-size: .8rem;
    margin-bottom: 20px;
}
.card3 .tittle{
    font-size: 1.8rem;
    margin-bottom: 20px;

}
.card3 p{
    font-size: .8rem;
    margin-bottom: 20px;
}
.card3 .btn1{
    color: #5D58EF;
    margin-bottom: 15px;
}
.card3{
    text-align: center;
    box-shadow: 2px 2px 4px rgba(163, 155, 162, 0.6);
    padding: 10px;
    background-image: linear-gradient(to bottom,rgba(226, 22, 229,0.1),white);
}
.card1 .tittle{
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.card1 p{
    font-size: .8rem;
margin-bottom: 20px;
}
.btn1{
    background: transparent;
    border: none;
    font-weight: 500;
    margin-bottom: 15px;
    color: rgb(6, 172, 238);
}
.arrow{
    margin: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.circle1{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: #e67809;
    text-align: center;
   

}
.circle1 i{
    text-align: center;
    margin-top: 12px;
    color: white;
}
.stories{
    background-image: url(assets/bg.png);
    background-position: cover;
    background-size: contain;
   
    
}
.story{
    margin-top: 50px;
    margin-bottom: 80px;
}
.story .tittle{
    text-align: center;
    font-size: 3rem;
}
.linear{
    background-image: linear-gradient(to top,rgba(228, 159, 1,.2),white);
}
.images{
    width:800px;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:10px;
    margin:40px 130px;
    margin-bottom: 50px;
}
.big-images img{
    margin-bottom: 30px;
}
.big-images .tittle{
    margin-bottom:20px;
}
.p1 img{
    margin-bottom: 10px;
}
.image1{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 10px;
}
.p1{
    box-shadow: 2px 2px 4px rgba(163, 155, 162, 0.2);
    padding: 10px;
    background: white;
     
}
.image2{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 10px;
}
.p2{
    box-shadow: 2px 2px 4px rgba(163, 155, 162, 0.2);
    padding: 10px;
    background: white;
    gap: 10px;
     
}
.big-images{
    width:370px ;
    height: 600px;
    box-shadow: 2px 2px 4px rgba(163, 155, 162, 0.2);
    background: white;
    padding: 10px;
    
}
.big-images img{
    width: 350px;
}
.last{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    padding: 20px;
    
}
.last .btn2{
    margin-bottom: 30px;
}
.big-btn{
    background: #05D4DF;
    border: none;
    border-radius: 30px;
    padding: 10px;
    font-size: .8rem;
    margin-left: 40px;
    position: relative;
    top: -51px;
    color: aliceblue;
}
.big-btn2{
    background:#95B226;
    border: none;
    border-radius: 30px;
    padding: 10px;
    font-size: .8rem;
    margin-left: 50px;
    position: relative;
    top: -30px;
    color: aliceblue;
}
.btn5{
    background: #5D58EF;
}
.footer-part{
   height: 300px;
    background-color:#01ACFD;
    display: flex;
    justify-content: space-around;
    align-items: center;
   color: white;
}
.span1{
    position: relative;
    top: -10px;
    font-size: 2rem;
    color: white;
    font-weight: 700;
}
.part2 p{
margin-bottom: 10px;
}
.part3 h3{
    position: relative;
    top: -20px;
    font-size: 2rem;
}
.part2 img{
    margin-left:30px;
}

@media screen and (max-width:576px) {
    .logo1,.menuicon,hr{
        display: block;
    }
    
          .navbar ,.banner,.cards{
            margin: 10px;
            padding: 8px;
          }
          .stories,.images{
            margin: 0px;
            padding: 0px;
          }
        .main-part{
            background-size: contain ;
        }
    .card1,.card2,.card3{
        width: 100%;
    }
    .logo,.btn{
        display: none;
    }
    .menuicon{
        margin-top: 10px;
    }
    .features>ul{
        position:absolute;
        width: 100%;
        
       top: 100px;
       background: #e67809;
       left: 0;
       text-align: center;
       display: block;
       overflow: hidden;
       
     
      }
      ul li{
         padding: 10px;
     
      }
       ul li a{
         font-size: 22px;
       }
       li:hover,li:active{
         color: red;
       }
       .banner{
        flex-direction: column;
       
       }
       img{
        width: 100%;
        height: 100%;
       }
       .right img{
        order: 0;
        margin-top:15px;
       }
       .left{
        text-align: center;
        order: 1;
        margin-top: 20px;
        
       }
       .left .tittle{
        font-size:1.8rem;
       }
       .left p{
        font-size: .7rem;
       }
       .left .btn2{
        padding: 10px 30px;
       }
       .Standard h2{
        font-size: 1.8rem;
       }
       .cards{
        flex-direction: column;
        gap: 20px;
       }
       .arrow{
        display:none;
       }
       .stories,.images{
        width: 100%;
       }
       .story .tittle{
        font-size: 1.5rem;
       }
       .images img{
        width: 150px;
        height: 150px;
       }
       .images{
        grid-template-columns: repeat(2,1fr);
       }
       .big-images{
        display: none;
       }
       .p1 .tittle{
        font-size: .8rem;
       }
       .stories{
        overflow-x: hidden;
       }
       .big-btn2{
        font-size: .5rem;
        margin-left: 20px;
       }
       .footer-part{
        width: 100%;
        flex-direction: column;
        gap: 20px;
        align-items: start;
        padding: 10px;
        height: auto;
       }
       .span1{
        font-size: 1.5rem;
       }
       .part1 img{
        width:40px;
        height: 40px;
       }
       .part1 p{
        font-size: .5rem;
       }
       .part3 img{
        height: 30px;
        width: 30px;
       }
    }
